* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font: {
        size: 1rem;
        family: 'Roboto', sans-serif;
    }
    background-color: #f5f5f5;
}

a {
    color: black;
    text-decoration: none;
    list-style-type: none;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
p {
    font-family: 'Roboto Condensed', sans-serif;
}
.mr-90{
    margin: 90px 0;
}

