header{
    width: 100%;
    .navbar{
        padding: 3vh 3vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        .navbar_menu{
            width: 33%;
            justify-content: flex-start;
            ul{
                display: flex;
                align-items: center;
                li{
                    margin: 0 20px;
                    a{
                        font-weight: 900;
                    }
                }
            }
        }
        .navbar_logo{
            width: 33%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .navbar_social{
            width: 33%;
            justify-content: flex-end;
            display: inline-flex;
            ul{
                display: flex;
                li{
                    margin: 0 10px;
                    font-size: 20px;
                }
            }
        }
    }
    .banner{
        position: relative;
        .banner_heading{
            font-size: 100px;
            text-align: center;
            z-index: 99009;
            h1{
                position: absolute;
                top: 0px;
                line-height: 160px;
                font-weight: bold;
                margin-top: 70px;
            }
        }
        margin: 74px 94px;
        .banner_img{
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                margin-top: -90px;
            }
        }

    }
    
}
