main {
    margin: 98px 0 0 0;

}

.container {
    margin: 0 auto;
    width: 1200px;
}

.slogan {
    position: relative;

    .slogan_heading {
        position: absolute;
        top: 0;
        left: 0;
        width: fit-content;
        padding: 17px 17px 17px 0;

        h2 {
            font-size: 16px;
            color: rgba(58, 59, 64, .51);
        }
    }

    p {
        font-size: 50px;
        text-indent: 200px;
        text-align: justify;
    }
}

.about {
    .about_who-are {
        border-bottom: 1px solid #111;
        padding-bottom: 90px;

    }

    .about_work {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .about_work-text {
            width: 50%;

            p {
                letter-spacing: 1px;
                font-size: 18px;
                color: rgb(44, 43, 43);
            }
        }

        .about_work-button {
            width: 50%;
            display: flex;
            justify-content: end;
            align-items: center;

            a {
                @include button-a;
            }
        }
    }

}

.detail {
    position: absolute;
    width: 1200px;
    height: 45px;
    background-color: rgba(192, 192, 192, 0.3);
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);

    p {
        color: white;
        font-size: 1rem;
        font-weight: 700;
        line-height: 25px;
    }
}

.landingHouse {
    width: 100%;
    height: 500px;

    .landingHouse-content {
        width: 100%;
        height: 500px;
        position: relative;

        background: {
            image: url('/img/unsplash.jpg');
            position: center;
            size: cover;
        }
    }
}

.team {
    .landingHouse-Team {
        display: flex;
        align-items: center;
        color: #3a3b40;

        .title {
            width: 50%;
            font-size: 100px;
        }

        .content {
            width: 50%;

            p {
                font-size: 25px;
                text-indent: 70px;
            }
        }
    }
}



.accountManager {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;

    .block-Manager {
        width: 30%;

        .block-img {
            cursor: pointer;
            width: 100%;
            border-radius: 20px;

            img {
                object-fit: cover;
                border-radius: 20px;
                width: 100%;
                height: 450px;
                transition: all ease .3s;

                &:hover {
                    transform: scale(0.95)
                }
            }
        }

        .responsibility {
            // margin-top: 50px;
            margin: 2rem 0 0 0;
            font-size: 0.9em;
            color: rgba(58, 59, 64, .5);

            h4 {
                letter-spacing: .06em;
            }
        }

        .name {
            color: #3a3b40;

            font: {
                size: 1.5rem;
            }

            margin: 1rem 0;

            h3 {
                letter-spacing: 2px;
            }
        }

        .describe {
            width: 100%;
            margin: 0 0 1rem 0;

            p {
                font-size: 0.95rem;
                letter-spacing: 1px;
                color: #3a3b40;
                line-height: 22px;
            }
        }

        .social {
            display: flex;
            align-items: flex-end;

            ul {
                display: flex;

                li {
                    margin-right: 15px;

                    a {
                        font-size: 0.8rem;
                        font-weight: bold;
                        color: #3a3b40;

                    }
                }
            }
        }
    }
}

.ourWork {
    padding-top: 90px;
    background-color: #1c1c20;

    &_Content {
        .ourWork_slogan {
            .ourWork_slogan_heading {
                h2 {
                    color: #b7b7b7;
                }
            }

            p {
                color: white;
            }
        }
    }
    

    .introduce {
        width: 100%;
        background-color: #1c1c20;
        .block-ImgIntroduce {
            width: 100%;
            height: 500px;
            position: relative;

            background: {
                image: url('/img/COMP+r-architecture-wDDfbanbhl8-unsplash.jpg') !important;
                position: center;
                size: cover;
            }
        }
        .introduce-detail{
            background-color: #fff;
            width: 1200px;
            height: auto;
            margin: 100px auto;
            padding: 20px 150px;
            border-radius: 30px;
            .detail-describe{
                width: 900px;
                margin: 50px auto 20px;
                h3{
                    font-weight: 500;
                    font-size:25px;
                    text-indent: 150px;
                }
            }
            .list-detail{
                padding: 30px 0;
                width: 900px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .list-detail-left{
                    width: 45%;
                    cursor: pointer;
                    user-select: none;
                    margin-bottom: auto; // khóa
                    .left{
                        flex-shrink: 0;
                        .left-item{
                            flex-shrink: 0;
                        }
                    }
                    
                }
                .list-detail-right{
                    width: 45%;
                    cursor: pointer;
                    user-select: none;
                    margin-bottom: auto;  // khóa 
                    .right{
                        flex-shrink: 0;
                        .right-item{
                            flex-shrink: 0;
                        }
                    }
                    
                }

            }
        }
        

    }
    .contact{
        width: 1200px;
        margin: 0 auto;
        .contact-info{
            h1{
                font-size:150px;
                color: white;
            }
        }
        .block-contact{
            display: flex;
            justify-content: space-between;
            .contact-img{
                width: 45%;
                img{
                    width: 100%;
                    height: 600px;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
            .contact-content{
                width: 50%;
                color: #fff;
                h4{
                    font-size:25px;
                    padding-bottom: 50px;
                    border-bottom: 1px solid red;
                }
                p{
                    padding: 50px 0 60px 0;
                }
                .contact-button{
                    a{
                        @include button-a;
                        background-color: white;
                        color: black;
                    }
                }
                .contact-button{
                    display: flex;
                    margin-bottom: auto;
                }
            }
            
        }
    }
}

.item{
    border-top: 1px solid rgb(193, 188, 188) ;
    padding: 15px 0;
    display: flex;
    font-size: 20px;
    flex-shrink: 0;
    i{
        margin-right: 10px;
    }
}

.list-item-content{
    display: none;
    padding: 15px 0;
    height: 0;
}
.list-item-content.active{
    display: block;
    animation: movedDown ease 1.2s;
    height: 100px;
}


@keyframes movedDown {
  from{
    opacity: 0;
   transform: translateY(-20%);

  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
